.splitLayout {
  display: flex;
  flex-flow: row;
}

.inlineLayout {
  display: flex;
  flex-flow: column;
}

.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: auto;
  transition: all 0.3s;
  &.collapsed {
    left: 80px;
  }
  &.isMobile {
    left: 0;
  }
}
